/*------　pc対応　------*/
/*--- global design*/

ul{
  list-style: none;
  justify-content: space-around;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

/*--- content design---*/

.main{
  width:70vw;
  margin: 0 auto;
  justify-content: space-between;
}

.leftside{
  width:10vw;
}

.center{
  width:50vw;
}

.rightside{
  width:10vw;
}

@media screen and (max-width:1024px) {
  /*------　tb対応　------*/

}

@media screen and (max-width:599px) {
  /*------　sp対応　------*/

}
