/*---　pc対応　---*/
.main{
  width:100vw;
}

.leftside{
  width:20vw;
  float:left;
}

.rightside{
  width:20vw;
  float:right;
}


@media screen and (max-width:1024px) {
  /*---　tb対応　---*/

}

@media screen and (max-width:599px) {
  /*---　sp対応　---*/

}
