* {
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

.top-img {
    position: relative;
    width:100vw;
    height:1000px;
    overflow: hidden;
}

.animation{
    position: absolute;
    top: 0;
    left: 0;
    animation: fead 15s linear infinite;
    opacity: 0;
    z-index: -999;
}

.shop-icon,
.logo-icon{
  z-index: 10;
}

.shop-icon{
  width:20%;
  margin: 30px 0 0 30px;
}

.logo-icon{
  width: 100%;
  max-width: 900px;
  margin: 250px auto;
}

@keyframes fead {
  0%{
    opacity: 0;
    transform: scale(1.75);
  }
  7%{
    opacity: 1;
    transform: scale(1.5);
  }
  28%{
    opacity: 1;
    transform: scale(1.25);
  }
  38%{
    opacity: 0;
    transform: scale(1.0);
  }
  100%{
    opacity: 0;
    transform: scale(0.75);
  }
}

.top-img img:nth-child(2) {
    animation-delay: 5s;
}
.top-img img:last-child {
    animation-delay: 10s;
}
