*{
  margin: 0;
  padding: 0;
}

img{
  width:100%;
}

.top-view{
  position: relative;
}

.top-img {
    position: absolute;
    width:100vw;
    height:47vw;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    z-index: -1;
}

.top-img img{
  width:100%;
}

.animation{
    position: absolute;
    left:0;
    top:0;
    /* transform: translate(-50%,-50%); */
    animation: fead 15s linear infinite;
    opacity: 0;
    object-fit: cover;
}

.animation{
  z-index:-100;
}

.shop-icon,
.logo-icon{
  z-index:10;
}

.shop-icon{
  width:20%;
  padding: 30px 0 0 30px;
}

.logo-icon{
  width:50%;
  max-width: 900px;
  margin: 5% auto;
}

@keyframes fead {
  0%{
    opacity: 0;
    transform: scale(1.75);
  }
  7%{
    opacity: 1;
    transform: scale(1.5);
  }
  28%{
    opacity: 1;
    transform: scale(1.25);
  }
  38%{
    opacity: 0;
    transform: scale(1.0);
  }
  100%{
    opacity: 0;
    transform: scale(0.75);
  }
}

.top-img img:nth-child(2) {
    animation-delay: 5s;
}
.top-img img:last-child {
    animation-delay: 10s;
}
