.top-img {
    position: relative;
    width:100%;
    overflow: hidden;
}

.top-img img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fead 15s linear infinite;
    opacity: 0;
}

@keyframes fead {
  0%{opacity: 0;}
  10%{opacity: 1;}
  28%{opacity: 1;}
  38%{opacity: 0;}
  100%{opacity: 0;}
}

.top-img img:nth-child(2) {
    animation-delay: 5s;
}
.top-img img:last-child {
    animation-delay: 10s;
}
